@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    max-width: 1312px;
    margin: 0 auto;
}

@layer base {
    @font-face {
        font-family: 'Roboto';
        src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Montserrat';
        src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    }
}